<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/style.css">
 
        <!-- bibliotecas de jQuery y jQuery UI para el calendario-->
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>
    <body>
    <div id="pan">hola</div>
    <div id="calendario">
        <label for="OrigenL">Origen:</label>
        <select id="OrigenL">
            <option value="0" selected>Selecciona una opción</option>
            <option value="Bogota">Bogota</option>
            <option value="Barranquilla">Barranquilla.</option>
        </select>
        <label for="DestinoL">Destino:</label>
        <select id="DestinoL">
            <option value="0" selected>Selecciona una opción</option>
            <option value="Bogota">Bogota</option>
            <option value="Barranquilla">Barranquilla.</option>
        </select>
        <label for="fechaS">Fecha De Salida:</label>
        <input size="16" type="text" class="form-control" id="fechaS" readonly>
        <label for="fechaR">Fecha De Retorno:</label>
        <input size="16" type="text" class="form-control" id="fechaR" readonly>
        <br><br>
        <button type="button" onclick="buscar_vuelos()">Buscar</button>
    </div>
    <div>
        <main class="main flow">
            <h1 class="main__heading">Pricing</h1>
            <div class="main__cards cards">
              <div class="cards__inner">
                <div class="cards__card card" id="tarifas">
                  
                
                </div>
          
                <div class="cards__card card">
                  <h2 class="card__heading">Pro</h2>
                  <p class="card__price">$19.99</p>
                  <ul role="list" class="card__bullets flow">
                    <li>Access to advanced workouts and nutrition plans</li>
                    <li>Priority Email support</li>
                    <li>Exclusive access to live Q&A sessions</li>
                  </ul>
                  <a href="#pro" class="card__cta cta">Upgrade to Pro</a>
                </div>
          
                <div class="cards__card card">
                  <h2 class="card__heading">Ultimate</h2>
                  <p class="card__price">$29.99</p>
                  <ul role="list" class="card__bullets flow">
                    <li>Access to all premium workouts and nutrition plans</li>
                    <li>24/7 Priority support</li>
                    <li>1-on-1 virtual coaching session every month</li>
                    <li>Exclusive content and early access to new features</li>
                  </ul>
                  <a href="#ultimate" class="card__cta cta">Go Ultimate</a>
                </div>
              </div>
              
              <div class="overlay cards__inner"></div>
            </div>
          </main>
    </div>
    </body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{{url_for('static', filename='calendario.js')}}"></script>
<script src="{{url_for('static', filename='js/script.js')}}"></script>
<script>

    axios.post('/api/crear_vuelos', {
        origen: "Bogotá, Colombia",
        destino: "Sidney, Australia",
        
    }, {
        headers: {
        'Content-Type': 'multipart/form-data'

        }
    }
    ).then((res) => {
        console.log(res.data)
    })
    .catch((err) => {
        console.log(err);
    })

</script>
</html>