<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="" rel="stylesheet">
    </head>
    <body>
    <div id="pan">hola</div>
    </body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
const apiUrl= 'https://api.aviationstack.com/v1/flights';
const apiKey= 'c7685d5851bc8a3fa67068e29dc4e970';
const params = {
    access_key: apiKey,
    limit: 100,
};
axios.get(apiUrl, { params })
    .then(response => {
        console.log('datos', response.data);
})
.catch(error => {
    console.error('error:', error)
});
</script>
</html>