{% extends '/public/reservacion.html' %}
{% block div %}
<section class="seccion">
    <div class="card card-tarifa" id="s">
        <h2>Tarifa S</h2>
        <p>Descripción de la tarifa S</p>
    </div>
    <div class="card card-tarifa" id="m">
        <h2>Tarifa M del 2</h2>
        <p>Descripción de la tarifa M</p>
    </div>
    <div class="card card-tarifa" id="m">
        <h2>Tarifa M</h2>
        <p>Descripción de la tarifa M</p>
    </div>
</section>
<div class="container">
    <button class="btn" id="back" disabled>&larr; Back</button>
    <a class="btn" id="next">Next &rarr;</a>
</div>
{% endblock %}